@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

@keyframes circle-reveal {
  from {
    clip-path: circle(0px at var(--x) var(--y));
  }
  to {
    clip-path: circle(125vmax at var(--x) var(--y));
  }
}
